<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Sockets</title>
</head>
<body>
    <div id="messages"></div>
    <form method="post" id="chatForm">
        <input type="text" id="chatTXT" autocomplete="off", autofocus="on">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#UploadFile">Add a file</button>
            <button type="submit" class="btn btn-success">Send</button>
        </div>
        <!-- <input type="file" name="Arch" id="sendFile">
        <button type="submit">Enviar</button> -->
    </form>

    <!-- Modal -->
    <form method="post" id="SelectFile">
        <div class="modal fade" id="UploadFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Upload a file</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <input type="file" name="UplFlS" id="UplFlSid" enctype="multipart/for-data">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Upload file</button>
                </div>
              </div>
            </div>
          </div>
    </form>
</body>
</html>/

<script>
    let socket = io.connect('http://localhost:8080');
    socket.on('is_online', (resp) =>{
        $("#messages").append($('<li>').html(resp));
    });
    
    let username = prompt('¿Cual es tu nombre?');
    socket.emit('username', username);

    $('#chatForm').submit((e) => {
        e.preventDefault();
        socket.emit('chat_message', $("#chatTXT").val());
        $("#chatTXT").val('');
        return false;
    });

    $("#UplFlSid").on('change', (e) =>{
      const file = e.originalEvent.target.files[0];
      const reader = new FileReader();
      reader.onload = (evt)=>{
        $('#SelectFile').submit((e) => {
          e.preventDefault();
          socket.emit('upload_image', evt.target.result);
          console.log(evt.target.result);
          $("#UplFlSid").val('');
        });
      };
      reader.readAsDataURL(file);
    });


    socket.on('chat_message', (message) => {
        $("#messages").append($('<li>').html(message));
    });

    socket.on('uploaded_img', (resp, image)=>{
      $("#messages").append($('<li>').html(`${resp}<a target="_blank" href="${image}"><img src="${image}" /></a>`));
    })
</script>